services:
  server:
    container_name: falacomigo-container
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
    restart: always
    ports:
      - "8080:8080"
    environment:
        NODE_ENV: production
        DATABASE_URL: ${DATABASE_URL}
        REDIS_HOST: ${REDIS_HOST}
        JWT_SECRET: ${JWT_SECRET}
        GROQ_API_KEY: ${GROQ_API_KEY}
        REDIS_URL: ${REDIS_URL}
        REDIS_PORT: 6379
        PORT: 8080
        REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: ["npm", "start"]